.accordion {

  .card-header {
    position: relative;
  }

  .btn {
    font-size:0.9rem;
    padding-top: 2px;
    z-index:1;

    &:after {
      content:'';
      display:block;
      width:100%;
      height:100%;
      position: absolute;
      top: 0;
      left:0;
      z-index:0;
    }
  }

}
