.alert {
  color:white;
  font-weight:300;
  border:none;
  font-size:0.9rem;
  border-radius: 0;
}

.alert-primary {
  background-color:$blue-500;
}

.alert-secondary {
  background-color:$grey-400;
}

.alert-success {
  background-color:$green-500;
}

.alert-danger {
  background-color:$red-500;
}

.alert-warning {
  background-color:$orange-500;
}

.alert-info {
  background-color:$blue-400;
}

.alert-light {
  background-color:$grey-300;
  color:$black;
}

.alert-dark {
  background-color:$grey-600;
}
