.breadcrumb {
  background:none;
  padding:0;
  font-size:0.8rem;
  font-weight:200;
  margin:0 0 30px 0;
  font-family: $primary-font;
}

.breadcrumb-item + .breadcrumb-item::before {
  content:'>';
}
