// Buttons

.btn {
  font-family: $primary-font;
  border-radius:30px;
  padding: 0.45rem 1.1rem 0.3rem 1.1rem;
  font-size: 0.75rem;
  font-weight:300;

  &.btn-lg {
    padding: 0.65rem 1.1rem 0.4rem 1.1rem;
    font-size: 0.85rem;
  }

  &.btn-sm {
    padding: 0.35rem 0.7rem 0.1rem 0.7rem;
    font-size: 0.75rem;
  }

}

.btn-primary {
  background:$blue-500;
  border:2px solid $blue-500;

  &:hover,&:active,&:focus,&:focus-within {
    background-color:$blue-400 !important;
    border:2px solid $blue-400;
    outline:none;
    box-shadow:none;
  }

}

.btn-secondary {
  color:$blue-400;
  background:white;
  border:2px solid $blue-400;

  &:hover,&:active,&:focus,&:focus-within {
    background:$blue-400;
    border:2px solid $blue-400;
    // background-color:darken( $blue-400, 10% ) !important;
    outline:none;
    box-shadow:none;
  }
}

.btn-success {
  color:white;
  background:$green-500;
  border:2px solid $green-500;

  &:hover,&:active,&:focus,&:focus-within {
    background:$green-600;
    border:2px solid $green-600;
    outline:none;
    box-shadow:none;
  }
}

.btn-danger {
  color:$red-500;
  background:white;
  border:2px solid $red-500;

  &:hover,&:active,&:focus,&:focus-within {
    background:$red-500;
    border:2px solid $red-500;
    outline:none;
    box-shadow:none;
  }
}

.btn-light {
  color:$grey-400;
  background:white;
  border:2px solid $grey-400;

  &:hover,&:active,&:focus,&:focus-within {
    color:White;
    background:$grey-400;
    border:2px solid $grey-400;
    outline:none;
    box-shadow:none;
  }
}

.btn-link {
  color:$blue-400;
  padding:0;
  border-radius:0;

  &:hover,&:active,&:focus {
    color:$blue-600;
    text-decoration: none;
  }

}

// Dropdown menu

.dropdown-menu {

  .dropdown-item {
    font-size:0.8rem;
    font-weight:200;
    padding: 0.24rem 1.25rem;
  }

}
