
/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/3c348c");


@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-Light.woff2') format('woff2'), url('./src/fonts/FSMe-Light.woff') format('woff');
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-LightItalic.woff2') format('woff2'), url('./src/fonts/FSMe-LightItalic.woff') format('woff');
font-weight: 100;
font-style: italic;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe.woff2') format('woff2'), url('./src/fonts/FSMe.woff') format('woff');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-Italic.woff2') format('woff2'), url('./src/fonts/FSMe-Italic.woff') format('woff');
font-weight: 200;
font-style: italic;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-Bold.woff2') format('woff2'), url('./src/fonts/FSMe-Bold.woff') format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-BoldItalic.woff2') format('woff2'), url('./src/fonts/FSMe-BoldItalic.woff') format('woff');
font-weight: 300;
font-style: italic;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-Heavy.woff2') format('woff2'), url('./src/fonts/FSMe-Heavy.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'FS Me';
src: url('./src/fonts/FSMe-HeavyItalic.woff2') format('woff2'), url('./src/fonts/FSMe-HeavyItalic.woff') format('woff');
font-weight: 400;
font-style: italic;
}
