.form-control {
  border-width:2px;
  border-radius:6px;
  font-size: 0.85rem;
  font-weight:200;
  padding-top: 9px;

  &:focus {
    border-color:$blue-300;
    outline:none;
    box-shadow:none;
  }
}

// Labels

label, legend {
  font-size: 0.85rem;
  font-weight:200;
}

.col-form-label {
  font-family: $primary-font;
  font-size:0.9rem;
  font-weight:300;
}

// Checkbox

.custom-control-input:checked ~ .custom-control-label::before {
  border-color:$blue-400;
  background-color:$blue-400;
}

.custom-checkbox .custom-control-label::before {
  border: $grey-300 solid 2px;
}

// Toggle

.custom-switch {
  .custom-control-input:checked ~ .custom-control-label::before {
      border-color: $green-600;
      background-color: $green-400;
  }
}
