#section-tabs {
  width: calc(100% + 60px);
  left: -30px;
  position: relative;
  padding: 0;
  border-bottom: 2px solid $grey-300;
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding: 10px 30px 5px 30px;
  }

  .nav-tabs {
    border:none;
    padding: 0 0 2px 0;

    @include media-breakpoint-up(lg) {
      padding:0;
    }

    .nav-link {
      font-size:0.95rem;
      font-family: $primary-font;
      font-weight:200;
      border:none;
      position:relative;
      color:$grey-400;

      &:hover {
        color:$blue-400;
      }

      &.active {
        color:$blue-400;
        font-weight:300;

        &:after {
          content: '';
          display: block;
          width: calc(100% - 30px);

          background: $blue-400;

          position: absolute;
          height:1px;
          bottom: -2px;

          @include media-breakpoint-up(lg) {
            height: 2px;
            bottom: -7px;
          }

        }

      }

      &:first-child {
        padding-left:30px;

        @include media-breakpoint-up(lg) {
          padding-left:0;
        }

        &:after {
          width: calc(100% - 45px);

          @include media-breakpoint-up(lg) {
            width: calc(100% - 15px);
          }

        }

      }

    }



  }

}

.nav-tabs {
  display: flex;
  flex-wrap: initial;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;

  @include media-breakpoint-up(lg) {
    overflow-x: initial;
    overflow-y: initial;
  }

}
.nav-tabs>li,.nav-tabs>a {
  float: none;
}
