h1,h2,h3,h4,h5,h6 {
	font-family: $secondary-font;
	font-weight:600;
	margin-bottom:20px;
}

h1 {
	font-size:1.8rem;
}

h2 {
	font-size:1.5rem;
}

h3 {
	font-size:1.3rem;
}

h4 {
	font-size:1.1rem;
}

h5 {
	font-size:1rem;
}

h6 {
	font-size:0.9rem;
}


body, p, ul, ol {
	font-family: $primary-font;
	font-weight:100;
	font-size: 0.9rem;
	line-height:1.6rem;
	text-rendering: geometricPrecision;
}

ul, ol, ul ul, ol ol {
	margin:10px 0;
	margin-bottom:10px;
	padding-left: 15px;
}

a {
	color:$blue-400;

	&:hover {
		color:$blue-500;
	}
}
