// BREAKPOINTS

$grid-breakpoints: (
  xs: 0,
  sm: 680px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
);

//  TYPOGRAPHY

$primary-font: "FS Me", sans-serif;
$secondary-font:  'Open Sans', sans-serif;

//  COLOURS

$black:#272727;

$grey-100: #f8f9fa !default;
$grey-200: #F5F6FA !default;
$grey-300: #CFD8E5 !default;
$grey-400: #7F8FA6 !default;
$grey-500: #33383F !default;
$grey-600: #6c757d !default;

$blue-600: #00587D;
$blue-500: #027BAE;
$blue-400: #039FE0;
$blue-300: #3FBAED;
$blue-200: #8AD5F4;
$blue-100: #C1EBFC;

$green-600: #457000;
$green-500: #7BAE02;
$green-400: #9FD916;
$green-300: #B6ED34;
$green-200: #D0F085;
$green-100: #E9F9C5;

$red-600: #9F0000;
$red-500: #CC0000;
$red-400: #FF3C3C;
$red-300: #FF7777;
$red-200: #FFC0C0;
$red-100: #FFE8E8;

$orange-600: #CC6200;
$orange-500: #FF9900;
$orange-400: #FFBE5E;
$orange-300: #FFD596;
$orange-200: #FFEBCE;
$orange-100: #FFF6EA;

$yellow-600: #E8D000;
$yellow-500: #FFE500;
$yellow-400: #FFED4A;
$yellow-300: #FFF599;
$yellow-200: #FFFACA;
$yellow-100: #FFFDE9;

$primary:       $blue-400 !default;
$secondary:     $gray-600 !default;
$success:       $green-400 !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


// IMAGES
