#footer-logo {
  display:inline-block;
  width:120px;
  height:18px;
  margin:0 0 80px 0;
  left: 5px;
  position: relative;
  @include background-vector(cynergy-logo, contain);

  @include media-breakpoint-up(lg) {
    width:200px;
    height:30px;
    margin:0 30px 0 0;
    left:0;
  }

}

#footer {
  padding:40px 0;
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding:80px 0;
  }

  > div {

    @include media-breakpoint-up(lg) {
      display:flex;
      align-items: center;
      justify-content: center;
      width: 90vw;
      margin: 0 auto;
      justify-content: space-around;
    }

    a {
      margin:0 30px;
      font-family: $secondary-font;
      text-decoration: none;
      color:$black;
      font-size:1.4rem;
      display: block;
      margin:30px auto;

      @include media-breakpoint-up(lg) {
        font-size:2rem;
        margin:0;
      }

    }

    .social-links {
      padding:0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        margin:0 30px;
      }
    }

  }

}

#cookie-notice {
  color: #272727 !important;
  background:white !important;
  box-shadow: 0 13px 21px rgba(0,0,0,0.3) !important;

  .cookie-notice-container {
    color: #272727 !important;
  }
}

.cn-button.bootstrap {
  color: #272727;
  background: #cadfd4;
}
