html {
	width:100%;
	overflow-x: hidden;
	scroll-behavior: smooth !important;

	&.fix {
		overflow:hidden;
	}

}

body {
	margin:0;
  width: 100%;
  height: 100%;
  overflow: auto;
	top:0;
	background:#fff;

	@include media-breakpoint-up(md) {
		background:#fff;
	}

	// &.fix {
	// 	overflow:hidden;
	// 	position:fixed;
	// }
}

#wrapper {

  @include media-breakpoint-up(lg) {
    padding-left: 220px;
  }

}

#content {
	padding:150px 30px 0 30px;

	@include media-breakpoint-up(lg) {
		padding:100px 30px;
	}

}


section {
	padding:20px 0;
}
