#header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  box-shadow: 0px 1px 0px $grey-300;
  transition: box-shadow .4s ease-in-out;

  @include media-breakpoint-up(lg) {
    width: calc(100% - 220px);
    z-index: 10;

  }

  &.active {
    box-shadow:none;
    @include media-breakpoint-up(lg) {
      box-shadow: 0px 1px 0px $blue-400;
    }
  }

  form.search {
    position: relative;
    width: 100%;
    font-family:$secondary-font;

    @include media-breakpoint-up(lg) {
      display: block !important;
      flex:1;
    }

    .bi {
      position:absolute;
      top: 19px;
      left: 20px;
      z-index:10;
      color:$grey-400;
      transition: all .4s ease-in-out;
    }

    &:hover {
      .bi {
        color:$blue-400;
      }
    }

    input.form-control {
      padding: 0 120px 0 60px;
      height: 60px;
      font-size:0.9rem;
      background:white !important;
      box-shadow: none;
      transition: all .4s ease-in-out;

      &:hover, &:focus {
        box-shadow: none;
      }

    }

    .btn {
      display: none;
      height: 30px;
      width: 45px;
      position: absolute;
      top: 15px;
      right: 10px;
      z-index:10;
      font-weight:600;
    }

    .clear {
      display:none;
      width:18px;
      height:18px;
      position:absolute;
      right: 80px;
      top: 22px;
      cursor:pointer;
      z-index:11;
      background: $grey-400;
      @include border-radius(50px);

      &:hover {
        background:$blue-500;
      }

      &:before {
        content:'';
        display:block;
        position:absolute;
        width: 9px;
        height: 2px;
        left: 4px;
        top: 8px;
        background:white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        content:'';
        display:block;
        position:absolute;
        width: 9px;
        height: 2px;
        left: 4px;
        top: 8px;
        background:white;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &.active {

      .btn {
        display:block;
      }

      .clear {
        display:block;
      }

      .bi {
        opacity:0;
      }

      input.form-control {
        padding: 0 120px 0 30px;
      }

    }

  }

  #account {
    position:fixed;
    top: 11px;
    right:0;
    z-index: 20;
    display: flex;
    align-items: center;
    padding: 0 15px;

    @include media-breakpoint-up(lg) {
      position: relative;
      top:0;
    }

    button {
      background:none;
      border:none;
      outline:none;
      display: flex;
      align-items: center;
    }

    .avatar {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      overflow:hidden;
      margin-right:10px;

      img {
        display: block;
        width:100%;
        height:100%;
        object-fit: contain;
      }

    }

    .dropdown-menu {
      margin:1rem 0 0;

      @include media-breakpoint-up(lg) {
        margin: 11px 0 0 0;
      }

    }

    .dropdown-toggle::after {
      content: "";
      display: inline-block;
      border-left: 0;
      border-top: 0;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      width: 8px; height: 8px;
      transform: rotate(45deg);
      position: relative;

      @include media-breakpoint-up(md) {
        margin:0 0 0 10px;
      }

      @include media-breakpoint-up(lg) {
        border-right: 2px solid $grey-400;
        border-bottom: 2px solid $grey-400;
      }

    }


    &.show {
      .dropdown-toggle::after  {
        transform: rotate(-135deg);
        top:3px;
      }
    }

    #profileMenuButton {

      span {
        display: none;
        font-size:0.82rem;
        font-weight:200;
        color:white;

        @include media-breakpoint-up(md) {
          display: inline;
        }

        @include media-breakpoint-up(lg) {
          color:black;
        }

      }

      &:hover {

        span {
          color:$blue-500;;
        }

      }


    }

  }

}
