#mobile-nav {
  background:$blue-600;
  position: relative;
  z-index: 20;
  height: 60px;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(lg) {
    display:none;
  }

  #mobile-nav-logo {
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 40px;
    @include background-vector(cognassist_logo-white, contain);
    overflow:hidden;
    text-indent:-300px;
  }

  #nav-icon {
    display: block;
    width: 20px;
    height: 25px;
    position: absolute;
    left: 25px;
    top: 15px;
    border: none;
    outline: none;
    overflow:hidden;
    z-index:20;

    @include media-breakpoint-up(lg) {
      display:none;
      top: 8px;
    }

  }

  #nav-icon:after,
  #nav-icon:before,
  #nav-icon div {
    background-color: white;
    content: '';
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-in-out;
  }

  #nav-icon.active:before {
    transform: translateY(8px) rotate(135deg);
  }

  #nav-icon.active:after {
    transform: translateY(-8px) rotate(-135deg);
  }

  #nav-icon.active div {
    transform: scale(0);
  }

}

#sidenav {
  display:none;
  position:fixed;
  width:100%;
  height: calc(100% - 60px);
  top: 60px;
  left: 0;
  height:100%;
  background:$blue-600;
  z-index:20;

  @include media-breakpoint-up(lg) {
    display: block !important;
    width:220px;
    height: 100%;
    top:0;
  }

  > div {
    height:100%;
    width: 100%;
    padding: 20px 0 0 0;

    @include media-breakpoint-up(lg) {
      padding:0;
    }

  }

  #sidenav-logo {
    display: none;
    margin: 25px auto;
    width: 150px;
    height:46px;
    @include background-vector(cognassist_logo-white, contain);
    overflow:hidden;
    text-indent:-300px;

    @include media-breakpoint-up(lg) {
      display: block;
    }

  }

  ul.navbar-nav {
    height: 100%;
    list-style:none;
    padding: 0;
    margin: 0;
    line-height: initial;
    font-family: $primary-font;

    li {
      margin:0;

      a.nav-link {
        font-weight: 200;
        color: white;
        font-size: 0.9rem;
        padding:18px 28px 15px 28px;
        transition: background .2s ease-in-out;

        &:hover,&:focus {
          background:rgba(0,0,0,0.25);
        }

      }

      &.signout {

        @include media-breakpoint-up(lg) {
          position: absolute;
          bottom:0;
          width: 100%;
          text-align: center;
          background:rgba(0,0,0,0.25);
        }

      }

    }

  }

}
